body {
    font-family: Arial, sans-serif;
    background-color: #eef3f8; 
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
    justify-content: left;
}

nav {
    background-color: #1e90ff;
    text-align: center;
    padding: 14px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: yellow;
    color: black;
}

main {
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: black;
}

h3 {
    color: #1e90ff;
    margin-top: 30px;
}

.productos {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.producto {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #78fff8;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.producto:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-color: #ff1e1e;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto p {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 30px;
}

main .logo img{

    display: flex;

}